package {{.Package}}

import (
	"fmt"

	"janisvepris/aoc/internal/files"
)

var lines []string

func Setup() {
	lines = files.ReadFile("{{.Year}}/{{.Day}}/input.txt")
}

func Part1() {
	result := 0
	fmt.Printf("Part 1: %d\n", result)
}

func Part2() {
	result := 0
	fmt.Printf("Part 2: %d\n", result)
}
